nav {
  background-color: #eee;
}

nav ul {
  margin: 0 0 0 10px;
  padding: 0;
  display: -ms-flexbox;
  display: flex;
}

nav ul li {
  margin-right: 20px;
  list-style-type: none;
}

nav ul li a {
  font-weight: bold;
  color: #000;
  text-decoration: none;
}

body {
  font-family: "EB Garamond";
  font-size: 24px;
  margin: 0;
}

body section {
  margin: 10px;
}

h4 {
  font-weight: bold;
  font-size: 3rem;
  margin: 0;
}

h6 {
  font-weight: normal;
  font-size: 2rem;
  font-style: italic;
  margin: 10px 0;
}

p {
  margin: 5px 0;
}
